version: 2.1

orbs:
  trufflehog_orb: sandbox/trufflehog_orb@0.0.2

jobs:
  sonarcloud_scan:
    docker:
      - image: 'cimg/openjdk:11.0'
    steps:
      - checkout
      - run:
          name: Analyze on SonarCloud
          command: mvn verify sonar:sonar -Dsonar.projectKey=parikshitpcyb_SonarCloud-CircleCi-GitHub-Java -Dsonar.qualitygate.wait=true -Dsonar.analysis.timeout=300

  secrets_scan:
      docker:
          - image: circleci/python:latest
      working_directory: ~/repo
      steps:
          - checkout
          - run: sudo python --version
          - run: sudo pip install trufflehog
          - run: trufflehog --max_depth 1 ~/repo


workflows:
  sonarcloud_circleci_scan:
    jobs:
      #- sonarcloud_scan:
       #   context: SonarCloud
      - secrets_scan