version: 2.1

orbs:
  sonarcloud: sonarsource/sonarcloud@1.1.1

jobs:
  security-scan:
    docker:
      - image: cimg/python:3.10.0
    working_directory: ~/repo
    steps:
      - checkout
      #- sonarcloud/scan
      - run:
          name: Install TruffleHog
          command: sudo pip install trufflehog
      - run: 
          name: Execure TruffleHog Scan
          command: trufflehog --max_depth 1 ~/repo

workflows:
  scan-secrets:
    jobs:
      - security-scan:
          context: SonarCloud
