version: 2.1

orbs:
  sonarcloud: sonarsource/sonarcloud@1.1.1
  trufflehog: sandbox/trufflehog_orb@0.0.2

jobs:
  sonarcloud_scan:
    docker:
      - image: 'cimg/node:current' #'cimg/openjdk:11.0'
    steps:
      - checkout
      - sonarcloud/scan

workflows:
  security_scans:
    jobs:
      - sonarcloud_scan:
          context: SonarCloud
      - trufflehog/scan
