version: 2.1

orbs:
  sonarcloud: sonarsource/sonarcloud@1.1.1

jobs:
  security-scan:
    docker:
      - image: cimg/python:3.10.0
    steps:
      - checkout
      - sonarcloud/scan
          context: SonarCloud
      - run:
          name: "Scan for secrets"
          # change --since-commit to match your default branch
          command: trufflehog git file://. --since-commit master --branch "$CIRCLE_BRANCH" --fail

workflows:
  scan-secrets:
    jobs:
      - security-scan
