version: 2.1

jobs:
  sonarscan_build:
    docker:
      - image: 'circleci/openjdk:11-jdk'
    steps:
      - checkout
      - run:
          name: Analyze on SonarCloud
          command: mvn verify sonar:sonar -Dsonar.projectKey=parikshitpcyb_SonarCloud-CircleCi-GitHub-Java

workflows:
  sonarcloud_circleci_scan:
    jobs:
      - sonarscan_build:
          context: SonarCloud
          #Test if these get through
